# Google API and Heatmaps

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-02-24 16:24:47,-24.8667,113.6333,86.0,48,0,18.41
1,1,Hobart,AU,2021-02-24 16:24:47,-42.8794,147.3294,57.2,62,100,10.36
2,2,Olinda,BR,2021-02-24 16:24:47,-8.0089,-34.8553,84.2,65,40,11.50
3,3,Georgetown,MY,2021-02-24 16:23:49,5.4112,100.3354,84.2,70,20,3.44
4,4,Mahebourg,MU,2021-02-24 16:24:08,-20.4081,57.7000,78.8,73,75,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # Create new temps list so neg temps are replaced w/ '0'
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

## Create a Maximum Temperature Heatmap

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]
# 2. Assign the weights variable - maximum temps
max_temps = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# use list comprehension within heatmap_layer func rather than seperate for loop above
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temps])
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Adjust Heatmap Zoom, (Intensity, and Point Radius)
locations = city_data_df[['Lat', 'Lng']]
max_temps = city_data_df["Max Temp"]
# add arguments to gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temps])
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Adjust the Dissipation, Intensity, and Point Radius by adding heatmap_layer args
locations = city_data_df[['Lat', 'Lng']]
max_temps = city_data_df["Max Temp"]
# add arguments to gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temps], 
                                 dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-02-24 16:24:47,-24.8667,113.6333,86.00,48,0,18.41
2,2,Olinda,BR,2021-02-24 16:24:47,-8.0089,-34.8553,84.20,65,40,11.50
3,3,Georgetown,MY,2021-02-24 16:23:49,5.4112,100.3354,84.20,70,20,3.44
4,4,Mahebourg,MU,2021-02-24 16:24:08,-20.4081,57.7000,78.80,73,75,6.91
6,6,Bredasdorp,ZA,2021-02-24 16:24:47,-34.5322,20.0403,75.20,50,40,10.36
7,7,Sibu,MY,2021-02-24 16:20:18,2.3000,111.8167,75.20,94,20,0.98
12,12,Kimberley,ZA,2021-02-24 16:24:48,-28.7323,24.7623,80.60,54,40,3.44
14,14,Atuona,PF,2021-02-24 16:24:48,-9.8000,-139.0333,78.71,82,62,14.09
16,16,Tsabong,BW,2021-02-24 16:24:49,-26.0217,22.4010,77.22,63,49,8.88
21,21,Sabang,ID,2021-02-24 16:20:20,5.8933,95.3214,81.48,70,90,3.33

In [14]:
preferred_cities_df.count()

City_ID       190
City          190
Country       188
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [15]:
# drop 2 null countries
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-02-24 16:24:47,-24.8667,113.6333,86.00,48,0,18.41
2,2,Olinda,BR,2021-02-24 16:24:47,-8.0089,-34.8553,84.20,65,40,11.50
3,3,Georgetown,MY,2021-02-24 16:23:49,5.4112,100.3354,84.20,70,20,3.44
4,4,Mahebourg,MU,2021-02-24 16:24:08,-20.4081,57.7000,78.80,73,75,6.91
6,6,Bredasdorp,ZA,2021-02-24 16:24:47,-34.5322,20.0403,75.20,50,40,10.36
7,7,Sibu,MY,2021-02-24 16:20:18,2.3000,111.8167,75.20,94,20,0.98
12,12,Kimberley,ZA,2021-02-24 16:24:48,-28.7323,24.7623,80.60,54,40,3.44
14,14,Atuona,PF,2021-02-24 16:24:48,-9.8000,-139.0333,78.71,82,62,14.09
16,16,Tsabong,BW,2021-02-24 16:24:49,-26.0217,22.4010,77.22,63,49,8.88
21,21,Sabang,ID,2021-02-24 16:20:20,5.8933,95.3214,81.48,70,90,3.33

In [16]:
preferred_cities_df.count()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

# Map Vacation Criteria

## Get Travel Destinations

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0    Carnarvon      AU     86.00 -24.8667  113.6333
2       Olinda      BR     84.20  -8.0089  -34.8553
3   Georgetown      MY     84.20   5.4112  100.3354
4    Mahebourg      MU     78.80 -20.4081   57.7000
6   Bredasdorp      ZA     75.20 -34.5322   20.0403
7         Sibu      MY     75.20   2.3000  111.8167
12   Kimberley      ZA     80.60 -28.7323   24.7623
14      Atuona      PF     78.71  -9.8000 -139.0333
16     Tsabong      BW     77.22 -26.0217   22.4010
21      Sabang      ID     81.48   5.8933   95.3214

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Carnarvon,AU,86.00,-24.8667,113.6333,Hospitality Carnarvon
2,Olinda,BR,84.20,-8.0089,-34.8553,Hotel Albergue de Olinda
3,Georgetown,MY,84.20,5.4112,100.3354,Cititel Penang
4,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
6,Bredasdorp,ZA,75.20,-34.5322,20.0403,Bredasdorp Country Manor
7,Sibu,MY,75.20,2.3000,111.8167,RH HOTEL (4 Star)
12,Kimberley,ZA,80.60,-28.7323,24.7623,Welgewandel Guesthouse
14,Atuona,PF,78.71,-9.8000,-139.0333,Villa Enata
16,Tsabong,BW,77.22,-26.0217,22.4010,Springbok Motel
21,Sabang,ID,81.48,5.8933,95.3214,Hotel Citra

In [21]:
hotel_df.count()

City          188
Country       188
Max Temp      188
Lat           188
Lng           188
Hotel Name    188
dtype: int64

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))