## Deliverable 3. Create a Travel Itinerary Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
g_key=os.environ.get('g_key')

# Configure gmaps
gmaps.configure(api_key=g_key)

In [27]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# World_Weather_Analysis/Vacation_Search /WeatherPy_vacation.csv
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Atuona,PF,79.93,clear sky,-9.8000,-139.0333,Villa Enata
1,6,Kulhudhuffushi,MV,83.08,broken clouds,6.6221,73.0700,Haajy Guest House 1
2,11,Faanui,PF,83.25,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
3,12,Rikitea,PF,78.37,overcast clouds,-23.1203,-134.9692,Pension Maro'i
4,13,East London,ZA,82.40,clear sky,-33.0153,27.9116,Tu Casa

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [123]:
### From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city. 

vacation_start = vacation_df.loc[(vacation_df["Country"] == "MU") & (vacation_df["City"] == "Souillac")]
vacation_end = vacation_df.loc[(vacation_df["Country"] == "MU") & (vacation_df["City"] == "Souillac")]
vacation_stop1 = vacation_df.loc[(vacation_df["Country"] == "MU") & (vacation_df["City"] == "Mahebourg")]
vacation_stop2 = vacation_df.loc[(vacation_df["Country"] == "MU") & (vacation_df["City"] == "Bambous Virieux")] 
vacation_stop3 = vacation_df.loc[(vacation_df["Country"] == "MU") & (vacation_df["City"] == "Grand Gaube")]

In [67]:
## to be deleted - check print
vacation_start
vacation_end
vacation_stop1
vacation_stop2
vacation_stop3.dtypes
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,26,Souillac,MU,86.0,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [ ]:
# start = vacation_start.to_numpy()
# start

In [ ]:
# start_slice = start[0, 5:7]
# start_slice

In [ ]:
# # 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# start = vacation_start.to_numpy()[0, 5:7]
# start_1 = vacation_start[["Lat", "Lng"]].to_numpy()

In [ ]:
# start

In [ ]:
# start_1

In [127]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0, 5:7]
end = vacation_end.to_numpy()[0, 5:7]
stop1 = vacation_stop1.to_numpy()[0, 5:7]
stop2 = vacation_stop2.to_numpy()[0, 5:7]
stop3 = vacation_stop3.to_numpy()[0, 5:7]

In [128]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# start and end latitude-longitude pairs
start_pair = (start[0], start[1])
end_pair = (end[0], end[1])
waypoint1 = (stop1[0], stop1[1])
waypoint2 = (stop2[0], stop2[1])
waypoint3 = (stop3[0], stop3[1])

fig = gmaps.figure()
vacation_directions = gmaps.directions_layer(start_pair, end_pair,
                                            waypoints=[waypoint1, waypoint2, waypoint3],
                                            travel_mode='DRIVING')
fig.add_layer(vacation_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [129]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,26,Souillac,MU,86.0,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
1,55,Mahebourg,MU,86.0,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,125,Bambous Virieux,MU,86.0,scattered clouds,-20.3428,57.7575,Casa Tia Villa
3,372,Grand Gaube,MU,86.0,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa

In [134]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [137]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))